# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
*.log

# TypeScript
dist/
build/
tsconfig.tsbuildinfo

# Test Cov
coverage/

# IDEs
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Dependency directories
bower_components/

# Other
*.tgz
